body {
  font : 75%/1.5 "Lucida Grande", Helvetica, "Lucida Sans Unicode", Arial, Verdana, sans-serif;
}
h2 {
  padding: 5px;
}
h1 {
  width: 960px;
  margin: 0 auto;
}
h2 {
  font-size: 1.5em;
}
#title {
  font-size: 1.2em;
  padding: 10px 5px;
}
h2#fbHeader {
  color: #666; 
  padding: 0px 5px;
}
a {
  color: #1da3e1; text-decoration: none;
}
a:hover {
  color: #032b2d; border-bottom: 1px dashed #eee;
}
form {
  padding: 10px 5px;
}
input, textarea {
  border: 1px solid #ddebf1;
  padding: 0 5px;
  width: 370px; height: 30px;
}
#jsLib {
  height: 50px;
}
#hTag {
  height: 100px;
}

input.tweet, #selectAll, .ckBoxStyle {
  padding: 0px;
  width: 15px;
  height: 15px;
}
.submit {
  background-color: #666;
  color: #fff;
  width: 140px;
  border: none;
}
.submit:hover {
  color: #000;
  background-color: #ccc;
}

#twitter, #preview {
  margin: 10px auto;
  width: 950px;
}

#twitter, #feedback {
  overflow: hidden;
  border: 1px solid #eee;
	background: #ddebf1; /* Old browsers */
	background: -moz-linear-gradient(top,  #ddebf1 0%, #ffffff 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ddebf1), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #ddebf1 0%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ddebf1 0%,#ffffff 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #ddebf1 0%,#ffffff 100%); /* IE10+ */
	background: linear-gradient(top, #ddebf1 0%,#ffffff 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ddebf1', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
}
#preview {
  padding: 10px 5px;
}

#twitter #tweets {
  height: 200px;
  overflow-y: scroll;
  overflow-x: hidden;
}
#twitter li {
  clear: both;
  margin: 4px;
}
#twitter li, #twitter, #feedback, input, textarea, #slideshowWrapper {
  border-radius: 5px;	-webkit-border-radius: 5px;	-moz-border-radius: 5px; 
}
#twitter #tweets li {
  width: 900px;
  float: left;
	border: 1px solid #ddebf1;
  background-color: #fff;
}
.tweet {
  position: relative; top: 5px;  
}
#twitter li img {
  float: left;
  width: 20px;
  position: relative; top: 10px;
  margin: 0px 5px;
}
.tweetToCopy {
  height: 44px;
  position: relative; top: 6px;
  width: 840px; float: right; 
}

#embeddedTweets { width: 530px; padding: 0 5px; float: left;  border-right: #eee; }
#codeWrapperDiv { width: 390px; float: right; font-size: 85%;  }
#codeWrapper {
  width: 380px; height: 200px; 
  overflow-y: scroll; overflow-x: hidden;
}

#loader {margin: 10px; }
#counter {float: right; margin: 3px 20px 0 0; }

.defaultText {/*font-family: Georgia;*/ color: #999;}
.defaultTextActive { color: #a1a1a1; font-style: italic; }
#feedback {width: 940px; padding: 5px; margin: 20px auto;}
#fbcomments {float: left; margin-top: 20px;  }
#twcomment {float: right; margin: 0 5px; }

#slideshowWrapper {
  border: 1px solid #eee;
  width: 950px; height: 280px; 
  clear: both; margin: 20px auto;
}
#footer {clear: both; width: 940px; 
  margin: 50px auto 0 auto; padding: 10px 5px;
  border-top: 1px dashed #f1f1f1;  }
    
#shareHome {position: absolute; top: 10px; right: 110px; 
  clear: both;  width: 220px; margin: 0 auto; }
#buttons, .fb-like {float: left; }